  <div class="text-center">
  <%= form_for @farmer, :html => {:multipart => true} do |f| %>
  <div>
  <%= f.label :farmer_market_name%>
  <%= f.text_field :farmer_market_name, class:"form-control"%>
  </div>

  <div >
  <%=f.label :schedule%>
  <%=f.text_field :schedule, class:"form-control sm"%>
  </div>

  <div>
  <%=f.label :avatar, "Main picture"%>
  <%=f.file_field :avatar, class:"form-control" %> 
  </div>

  <div>
  <%=f.label :speciality%>
  <%=f.text_area :speciality, class:"form-control"%>
  </div>

  <%=f.label :price_range%>
  <%=f.text_field :price_range, class:"form-control"%>
  <%=f.submit "Create"%>
  <%end%>

</div>