<div class="text-center">
<h1><%=@farmer.farmer_market_name%></h1>

<%= image_tag @farmer.avatar.url(:square)%>
<h2><%=@farmer.schedule%></h2>
<p><%=@farmer.speciality%></p>
<h2><%=dollar_sign%></h2>
</div>



