<!DOCTYPE html>
<html>
  <head>
    <title>TheFarmerMarket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/css/stylish-portfolio.css" rel="stylesheet">
 </head>

  <body>
  <body cz-shortcut-listen="true">

    <!-- Navigation -->
    <!-- <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick="$(&quot;#menu-close&quot;).click();">Start Bootstrap</a>
            </li>
            <li>
                <a href="#top" onclick="$(&quot;#menu-close&quot;).click();">Home</a>
            </li>
            <li>
                <a href="#about" onclick="$(&quot;#menu-close&quot;).click();">About</a>
            </li>
            <li>
                <a href="#services" onclick="$(&quot;#menu-close&quot;).click();">Services</a>
            </li>
            <li>
                <a href="#portfolio" onclick="$(&quot;#menu-close&quot;).click();">Portfolio</a>
            </li>
            <li>
                <a href="#contact" onclick="$(&quot;#menu-close&quot;).click();">Contact</a>
            </li> -->
     <!--    </ul>
    </nav>
 -->
 <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                      </button>
                       <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light" style="color:black">The Farmer Market</span> 
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="#">Does this work?</a>  
                          </li>
                            <li class="">

                            <!-- add more links here! -->
                  </ul>
                </div>
              <div class="row">
                 <div class="col-xs-10 col-xs-offset-1">
                      <% flash.each do |alert_type, msg| %>
                          <% if alert_type == "notice" %>
                             <div class="alert alert-success">
                                <% elsif alert_type == "alert" %>
                                  <div class="alert alert-danger">
                                    <% else %>
                               <div class="alert-dismissible<%= "#{alert_type}"%>" >
                              <% end %>
                           <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <ul>
                      <li>
                   <%= msg %>
                 </li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
     <!-- /.container -->
    </nav>
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>The Farmer Market</h1>
            <br>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Our Services</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Service Name</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="#" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Farmer Market</strong>
                    </h4>
                    <p>
                      San Francisco
                      <br>123 lane
                    </p>
                    <ul class="list-unstyled">      
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:rafeeqwilson914@gmail.com">rafeeqwilson914@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        
                        <li>
                            <a href="#"><i class="fa fa-github fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright © Rafeeq Wilson 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg" style="display: block; position: fixed;"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <%= yield %>
    
  </body>
</html>
